@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#FEF4FE] dark:bg-[#110538]
  }
}

@layer components {
  .gifosGradient {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  }
  .gifosGradientDark {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  }
  .gifosBtn {
    @apply text-[#110038] font-chakra dark:text-white bg-[#F7C9F3] dark:bg-[#EE3EFE] border-[#110038] border py-2 px-4 hover:border-dashed mr-2;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  .gifosBtnLight {
    @apply text-[#110038] font-chakra dark:text-white bg-[#FEF4FE] dark:bg-[#110538] border-[#110038] border py-2 px-4 hover:border-dashed mr-2;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  .gifosBtnRed {
    @apply text-[#110038] font-chakra dark:text-white bg-[#FF6161] dark:bg-[#FF6161] border-[#110038] border py-2 px-4 hover:border-dashed mr-2;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  .gifosShadowWhite {
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  }
  .gifosShadowBlack {
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  }
  .gifosShadowPink {
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  }
}
